<div class="container wrapper mb-5" id="contantus">
    <div class="col-6 d-flex imgc">
        <img src="../../../../assets/anubios/Group 10.png" class="img" width="20%">
    </div>
    <div class="block">
        <from [formGroup]="contant" class="" >
           <div class="row h-100">
               <div class="col-md-11">
                <div class="row">
                    <div class="col-md-6">
                     <input type="text" placeholder="Name" class="form-control mt-3" formControlName="name"
                     />
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Phone" class="form-control mt-3" formControlName="phone"                        />
                    </div>
                    <div class="col-md-12">
                        <input type="text" placeholder="Address" class="form-control mt-3" width="100%" formControlName="address"
                        />
                    </div>
                    <div class="col-md-12">
                        <textarea placeholder="message" id="" cols="30" rows="10" class="form-control mt-3" formControlName="message"
                        ></textarea>
                    </div>
                </div>
               </div>
                <div class="col-md-1 h-100 d-flex  ">
                    <div class="m">
                        <button class="  bu" (click)="sendSubmit()" >  Send </button>
                    </div>
                </div>
           </div>
            
        </from>
    </div>
    

</div>