<section class="service" id="service">
    <div class="srv">
        <img claass=" animate__animated animate__fadeInLeft animate__delay-3s " src="../../../../assets/anubios/Group 5.png">
    </div>
    <div class="contanier lab">
        <div class="row row1 ">
            
            <div class="responce  d-flex">
         
                <img class="h1" src="../../../../assets/anubios/Freebie - Harbors Discovery.png">
                <img class="h2" src="../../../../assets/anubios/Freebie.png">
                <div class="heading col-8">
                    <h3 class="">Mobile Application Development</h3>
                    <h5> Android</h5>
                    <h5 class="ios"> iOS</h5>
                </div>
            </div>
               
            </div>
        </div>


       <div class="contanier lab2">
            <div class="row row2 ">
                
                <div class="responce2  d-flex">
                    
                    
                    <div class="heading ">
                        <h3 class="">Web Application Development</h3>
                        <div class="li1">
                            <div class=" col-md-6 li2" >
                                <h5> BackEnd </h5>
                                <h5> Hosting </h5>
                            </div>
                            <div class="col-6">
                                <h5> Front End </h5>
                                <h5> Domain </h5>
                            </div>
                        </div>
                    </div>
                    <img class="ph" src="../../../../assets/anubios/Freebie - Harbors Discovery.png">
                 
                   
                </div>
            </div>
    </div>

    
    <div class="contanier lab">
        <div class="row row1">
              <div class="responce3  d-flex">
         
                <img class="h1" src="../../../../assets/anubios/Freebie - Harbors Discovery.png">
             
                <div class="heading3 col-12">
                    <h3 >Management Systems</h3>
                   
                        <div class="d-flex flex-column w-75">   
                            <h5 class="col-6"> Restaurant Cashier </h5>
                            <div class="row d-flex ">
                            <h5 class="col-5"> Market Cashier </h5> 
                            <h5 class="col-6"> Outher    </h5>
                         </div>

                    </div>
                   
                </div>
            </div>
               
            </div>
        </div>
</section>




<!--
    
        <section class="service" id="service">
            <div class="srv">
                <img claass=" animate__animated animate__fadeInLeft animate__delay-3s " src="../../../../assets/anubios/Group 5.png">
            </div>
            <div class="contanier lab">
                <div class="row">
                    <div class="responce col-sm-12">
                        <div class=" ph1">
                            <img class="animate__animated animate__fadeInRight  animate__delay-4s" src="../../../../assets/anubios/Rectangle.png" class="" height="450px" width="942px">
                        </div>
                        <div class="serv col-md-12 col-sm-12">
                            <div class="repo">
                            <div class="heading">
                                <h3>Mobile Application Development</h3>
                                <h5> Android</h5>
                                <h5 class="ios"> iOS</h5>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>




            <div class="contanier lab2">
                <div class="row">
                <div class="responce2">
                <div class="serv2 col-8">
                <img src="../../../../assets/anubios/Untitled-3.png" class="animate__animated animate__fadeInDown animate__delay-1s" height="600px" width="1150px">
                <div class="heading2">
                    <h3 >Web Application Development</h3>
                    <div class="li1">
                        <div class=" col-md-6 li2" >
                            <h5> BackEnd </h5>
                            <h5> Hosting </h5>
                        </div>
                        <div class="col-6">
                            <h5> Front End </h5>
                            <h5> Domain </h5>
                        </div>
                    </div>
                    <p></p>
                </div>
                </div>
                </div>
                </div> 
                </div>



                <div class="contanier lab">
                    <div class="row">
                        <div class="responce">
                            <div class=" ph1">
                                <img class="animate__animated animate__fadeInDown animate__delay-1s" src="../../../../assets/anubios/Rectangle 99.png" class="" height="550px" width="942px">
                            </div>
                        </div>
                    <div class="heading3 mt-5">
                        <h3 >Management Systems</h3>
                        <div class="d-flex flex-column">
                           
                                <h5> Restaurant Cashier </h5>
                                <h5> Market Cashier    </h5>
                                 <h5> Outher    </h5>
                                    </div>
                        
                        
                     
                    </div>
                    </div> 
                    </div>
        </section>
-->