<div class="main">
    <div class="container">
        <div class="bulidm">
            <div class="row">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column col-md-12 h-50 col-sm-12 ">
                        <h1 class="text-center mt-5 animate__animated animate__bounce ">Build Mobile APP && WEb APP</h1>

                        <p class="div m-3 animate__animated animate__fadeInTopLeft  animate__delay-2s">We have a team of
                            the best programmers and designers.
                            To implement it and develop ideas
                            for applications and websites...</p>
                    </div>

                </div>

            
            </div>

            <div class="txtl justify-content-center row ms-1">
                <div class="col-md-6">
                    <img class="col-3  col-sm-3 p1" src="../../../../assets/anubios/Group 1.png" alt="rectangle"
                    height="" width="45%">
                </div>
                <div class="col-md-6">
                    <img class="col-3  col-sm-3 p1" src="../../../../assets/anubios/Group 1.png" alt="rectangle"
                    height="" width="45%">
                </div>
                <div class="col-md-6">
                    <img class="col-3  col-sm-3 p1" src="../../../../assets/anubios/Group 1.png" alt="rectangle"
                    height="" width="45%">
                </div>
                <div class="col-md-6">
                    <img class="col-3  col-sm-3 p1" src="../../../../assets/anubios/Group 1.png" alt="rectangle"
                    height="" width="45%">
                </div>
              
                </div>
                <div class=" col-sm-12 col-md-4 right">

                    <img class=" animate__animated animate__fadeInDown animate__delay-1s" src="../../../../assets/anubios/lab1.png" alt="rectangle" height="650vh"
                        width="%">
    
                </div>
            </div>
            
        </div>




        <section class="offer" id="about">
            <div class="contanier mt-3 mb-3 ">

                <div class=" ul  col-8 animate__animated animate__fadeInDown animate__delay-1s ">

                    <li>
                        The best development and design of Android and iOS applications
                    </li>
                    <li>
                        <span> Whatever your idea? </span> Easy to implement with best quality
                    </li>

                </div>
                <div class="reg">
                    <!--<img class=" mt-5 " src="../../../../assets/anubios/Rectangle 29.png" alt="rectangle" height="200vh"
                        width="300px">-->
                </div>


            </div>

        </section>




        <section class="aboutus">
            <div class="contanier ">
                <div class="row">
                    <div class="col-md-4 col-sm-12 our col-xl-3 ">
                        <img class=" animate__animated animate__fadeInDown animate__delay-1s "
                            src="../../../../assets/anubios/Rectangle br.png" alt="rectangle" height=" vh" width=" px">
                        <h2>Our Message</h2>
                        <p>Beauty and quality are taken int
                            consideration in everything
                            we develop to achieve
                            the best results</p>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xl-4  goal">
                        <img class=" animate__animated animate__fadeInDown animate__delay-1s "
                            src="../../../../assets/anubios/Rectangle eco.png" alt="rectangle" height=" vh" width=" px">
                        <h2>Our Goal</h2>
                        <p>We aim to develop
                            the web community
                            by providing special services
                            and solutions in the field
                            of information
                            systems technology.</p>
                    </div>

                    <div class="col-md-3 col-sm-12  col-xl-3 str">
                        <img class="  animate__animated animate__fadeInDown animate__delay-1s"
                            src="../../../../assets/anubios/Rectangle road.png" alt="rectangle" height=" vh"
                            width=" px">
                        <h2>Our Strategy</h2>
                        <p>We strive to provide
                            programming, design
                            and e-marketing services
                            with the highest level
                            of efficiency and accuracy.</p>
                    </div>
                </div>
            </div>
        </section>





    </div>