.AB{
    background: linear-gradient(#F8F8FF,#ECEAFF);
    border-radius: 100px;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
}
*{
    border: 2px solid black;
}

@media (min-width:320px){
    .bulidm{
        width: 50%;
    }
}
@media (min-width:1000px) and  (min-width:576px){
    .div{
        width: 65%;
    }
    
    .bulidm{
        justify-content: flex-start;
        width: 100%;
    }
    .right img{

        margin-left: 45%;
          
       }
    .txtl{
        position:absolute; 
        top: 25%;
        left:20%;
        margin-top: 100px;
       width: 50%;
    }
    .our{
        margin-left: 50px;
    }
    .goal{
        margin-left: 150px;
    }
    .offer li{
       
        width: 200%;
         font-size: 5vh;
    }
    .aboutus contanier{
        width: 100%;
        margin-top: 50px;
    }
    
    .aboutus p{
    font-family: CambriaMath;
    color: #18196A;
    font-size: 30px;
    }
    .aboutus .goal{
        margin-left: 60px;
    }
}
@media (max-width:1000px) {
    .offer{
        margin-left: 80px;
        width: 200%;
     font-size: 100px;
     margin-top: 10vh;
    }
    .p1{margin-left: 10px;
  }
  .txtl{
    position:absolute; 
    top: 30%;
   width: 60%;
}
   
    .txtl2{
      margin-top: 2px;
    }
    .right img{
   
       width: 400px;
       height: 80vh;
       margin-left: 40%;
         
      }
      .reg{
          display: flex;
          flex-flow: column;
      }
      
    .bulidm{
        width: 120%;
    }
    .txtl img{
       width: 150px;
    }
   .our{
       margin-left: 60px;
   }
      
    .goal{
        margin-left: 40px;
    }
}






.bulidm{
   
    margin-top: 9.5%;
    background: linear-gradient(#F8F8FF,#4D4E8E);
    border-radius: 50px;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    height: 650px;
   
    
}

.p3{
    width: 30%;
    margin-left: 5px;
}
.p4{
width: 30%;
margin-left: 50px;
}
.bulidm h1{
    
    font-size: 60px;
     color: #EB900A;
     font-family: Gabriola;

}

.div{
    color:#18196A;
    font-family: CambriaMath;
    font-size: 30px;
 
   
}
.proimg{
    margin-top: 8%;
}
 .right{
     margin-left: 100px;
 }

.offer{
    top:35%;
}
.txtl{
    
   margin-top: 180px;
   width: 83%;
   margin-left: 80px;
}
.txtl2{
    
    margin-top: 50px;
    width: 83%;
 }
.reg{
    padding-left: 100px;
    padding-top: 5%;
}
.ul{
    padding-top: 15%;
    font-family: Gabriola;
    color: #EB900A;
   font-size: 30px;
}
.contanier{
    display: flex;
}
li{
    list-style: none;
}
li:before{
    content: "\2022";
    color:#18196A;
    size: 25px;
}
span{
    color: #18196A;
}
.AB{
    display: flex;
    
}
h2{
    padding-left: 35px;
    font-family: Gabriola;
    color: #EB900A;
    font-size: 50px;
}
p{
    font-family: CambriaMath;
    color: #18196A;
    font-size: 20px;
}
.goal{
    margin-left: 50px;
}
.str{
    margin-left: 50px;
}

