<div class="work " id="ourwork">
    <div class="col-sm-12 col-md-12 d-flex pho ">
        <img src="../../../../assets/anubios/Group 6.jpg" class="mar">
    </div>
    <div class="d-flex text mt-5 col-11">
        <p>
            We review the most important various services provided by  

               <span> Anubis programming </span>, and we hope that you will like it
        </p>
    </div>
    <div class="container mt-5  product">
        <div class="row">
            <div class="col-md-4 col-sm-12 main ">
                <div class="pro flex-column">
                    <img class="  " src="../../../../assets/anubios/G 7.png" alt="rectangle" height=" vh"
                    width=" 500px">
                        <!-- <a *ngFor="let item from ourwork.ios"> {{ourwork.ios}}</a>-->
                     <!--   <a href="{{work.link}}"> <img src="{{work.logo}}"></a>-->
                    <img class="end  " src="../../../../assets/anubios/Free PSD _ Smartphones mockup.png" alt="rectangle" height=" vh"
                    width="350 px">
                </div>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <div class="pro">
                    <img class="  " src="../../../../assets/anubios/G 6.png" alt="rectangle" height=" vh"
                    width=" px">
                   <a href="{{product.link}}"> <img src="{{product.logo}}"></a>
                   
                    <img class=" end  ps-1" src="../../../../assets/anubios/Realistic Smartphone Mockup Isolated.png" alt="rectangle" height=" vh"
                    width="400 px">
                </div>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <div class="pro">
                    <img class="  " src="../../../../assets/anubios/G 5.png" alt="rectangle" height=" vh"
                    width=" px">
                     <!--   <a href="{{work.link}}"> <img src="{{work.logo}}"></a>-->
                    <img class=" end " src="../../../../assets/anubios/Find Love - Banner & Landing Page.png" alt="rectangle" height=" vh"
                    width=" px">
                </div>
            </div>
        </div>
    </div>
</div>
