



.footer{
	
	bottom: 0;
}
@media (max-width:1000px) {
    
    .contanier{
        height:1000vh;
    }
   .tex .img{
       width:25%;
   }
    

    .footer-distributed{
        background-color: #18196A;
        /*margin-top: 200%;*/
      
    }
    
    
    .tex{
        font-family: Comic Sans MS;
        color: #FFFFFF;
        font-size: 1vh;
    }
    
}


.footer-distributed{
	background-color: #18196A;
	width: 100%;

	font: bold 16px Comic Sans MS;
	padding: 50px 50px 60px 50px;
	/*margin-top: 200%;*/
}

.tex{
	font-family: Comic Sans MS;
	color: #FFFFFF;
	font-size: 4vh;
}
.contanier{
    height:50vh;
}
@media (min-width:1000px) {
    .divph img{
        margin-left: 20px;
        height: 120%;
        width:65% ;
    }
}