<section class="footer-distributed">
	<div class="contanier">
		<div class="row ">

			<div class="col-md-6 col-sm-6 col-xs-12  nav-item">
				<a class="nav-link tex" href="#"><img
						src="../../../../assets/anubios/pngfind.com-facebook-png-icon-20.png" width="50px">
					+201118053860 </a>
				<a class=" nav-link mt-3 tex" href="#"> <img class="mt-3"
						src="../../../../assets/anubios/pngfind.com-facebook-png-icon-gg2.png" width="50px">
					AnubisProgramming1@gmail.com </a>
				<a class=" nav-link mt-3 tex" href="#"> <img class="mt-3"
						src="../../../../assets/anubios/pngfind.com-facebook-png-icon-23.png" width="50px">
					AnubisProgramming </a>
				<a class="nav-link mt-3 tex" href="#">
					<img class="mt-3" src="../../../../assets/anubios/pngfind.com-facebook-png-icon-f2.png"
						width="50px"> AnubisProgramming </a>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12 divph">
				<img class="footer-right ms-5  " src="../../../../assets/anubios/Group 11.png" height="360px"
					width="520px">
			</div>
		</div>
	</div>
</section>